@tailwind base;
@tailwind components;
@tailwind utilities;

.navLink {
  @apply cursor-pointer text-[16px] font-medium;
}

.navLinkDesktop {
  @apply text-base transition-all xl:text-xl;
}

.flexCenter {
  @apply flex items-center justify-center;
}
.mobileMenu {
  @apply absolute right-0 top-20 z-50 mx-4 my-2 min-w-[140px] flex-col rounded-xl bg-white p-6 shadow-2xl;
}

.paddingY {
  @apply py-12 xl:py-20;
}
.paragraph {
  @apply text-sm md:text-base lg:text-lg;
}
.heading1 {
  @apply text-3xl font-bold md:text-4xl lg:text-6xl;
}

.heading2 {
  @apply text-xl font-semibold lg:text-2xl;
}

.sidebar {
  -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
